@font-face {
  font-family: 'big';
  src: url('../assets/fonts/BigShoulders_36pt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'impact';
  src: url('../assets/fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'medium';
  src: url('../assets/fonts/InstrumentSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'anton';
  src: url('../assets/fonts/Antonio-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswald';
  src: url('../assets/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
